<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Glimpse Mobile과 로컬 네트워크에서 동기화하기 위해 접근이 필요합니다.</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_glimpse-sync._tcp</string>
  </array>
</dict>
</plist>
